<div class="main-container">
  <span class="title">Estimation</span>
  <div class="number">{{ estimationEuros() }}<span> *</span></div>
  <div class="conditions">
    <span class="congratulations">Félicitations !</span>
    <span class="infos">Vous êtes éligible à :</span>
    <ul>
      <li>MaPrimeRénov' Efficacité</li>
      <li>Primes CEE</li>
      <li>2co Prêt à Taux Zéro</li>
    </ul>
  </div>
  <span class="star">
    * Montant indicatif, sous réserve d'éligibilité. Voir conditions complètes
    sur le site de MaPrimeRénov'.
  </span>
  <div class="button">
    <span>Je fais ma demande</span>
  </div>
</div>
