<div class="main-container">
  <span class="title">Estimation</span>
  <div class="number">{{ estimationPercent() }} % <span>*</span></div>
  <div class="container">
    <span class="infos">Calculés sur</span>
    <ul>
      <li><span>40 000 €</span> HT, si 2 sauts de classe</li>
      <li><span>55 000 €</span> HT, si 3 sauts de classe</li>
      <li><span>70 000 €</span> HT, si 4 sauts de classe</li>
    </ul>
  </div>
  <span class="star">
    * 10% supplémentaire si votre logement est en étiquette F ou G initialement
  </span>
  <div class="conditions">
    <span class="infos">Les conditions d'obtention</span>
    <ul>
      <li>2 sauts de classes énergétiques</li>
      <li>2 postes d'isolation</li>
      <li>Une ventilation adaptée</li>
    </ul>
  </div>
  <div class="button">
    <span>Contactez-nous</span>
  </div>
</div>
